.sliderContainer {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.heading {
  font-size: 1rem;
  color: #c6c6c6;
  padding-bottom: 1rem;
}

.mainheading {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  font-family: Calibri;
  line-height: 0.8;
}

.certCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  padding: 15px 0;
  margin: 0 15px;
  min-width: 220px;
  max-width: 250px;
}

.certImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.certDetails {
  margin-top: 10px;
}

.certDetails h3 {
  font-size: 1rem;
}

.certDetails p {
  font-size: 0.9rem;
  color: #a7a7a7;
}


@media (max-width: 765px) {
  .mainheading {
      font-size: 2rem; 
  }

}