.contactSection {
    position: relative;
    text-align: center;
    margin: 4rem 0;
    padding: 2rem;
    overflow: hidden;
}

.contactSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background:
        -webkit-gradient(linear,
            left top, left bottom,
            from(rgb(10 10 10)),
            color-stop(30%, rgba(0, 0, 0, 0.3)),
            color-stop(50%, rgba(0, 0, 0, 0)),
            color-stop(70%, rgba(0, 0, 0, 0.3)),
            to(rgb(10 10 10))),
        url("/bg3.jpeg");

    background:
        -o-linear-gradient(rgb(10 10 10) 0%,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.3) 70%,
            rgb(10 10 10) 100%),
        url("/bg3.jpeg");

    background:
        linear-gradient(rgb(10 10 10) 0%,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.3) 70%,
            rgb(10 10 10) 100%),
        url("/bg3.jpeg");

    background-size: cover;
    background-position: center;
    z-index: -1;
}


.heading {
    font-size: 2.5rem;
    font-family: Calibri;
    line-height: 1;
    font-weight: lighter;
}

.heading span {
    font-weight: bold;
}

.button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    background: #052c32;
    border: 1px solid #0b4a54;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: background 0.3s ease, -webkit-transform 0.3s ease;
    transition: background 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease, background 0.3s ease;
    transition: transform 0.3s ease, background 0.3s ease;
    transition: transform 0.3s ease, background 0.3s ease, -webkit-transform 0.3s ease;
    margin: 20px 0;
}

.button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: rgb(0 0 0 / 50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    z-index: 1;
}

.showOverlay {
    opacity: 1;
    pointer-events: auto;
}

.popup {
    width: 100%;
    max-width: 400px;
    background: #050505;
    padding: 2rem;
    border-radius: 15px 15px 0 0;
    text-align: center;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #454545;
    opacity: 0;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.showPopup {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.popup h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}

.socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    margin-bottom: 1rem;
}

.socialIcons a {
    font-size: 2rem;
    color: #ccc;
    -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
    transition: color 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: color 0.3s ease, transform 0.3s ease;
    transition: color 0.3s ease, transform 0.3s ease;
    transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.socialIcons a:hover {
    color: #fb64b6;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.email {
    font-size: 1rem;
    font-weight: 700;
    color: #bfbfbf;
    text-decoration: none;
    border: 1px solid #80808069;
    border-radius: 10px;
    padding: 10px 30px;
    background: #1a1a1a9e;
    display: flow;
}

.or {
    padding: 1rem;
}

.contactForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    font-family: Calibri;
}

.input,
.textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #80808069;
    background: #1a1a1a9e;
    color: white;
    font-size: 1rem;
}

.textarea {
    min-height: 100px;
    resize: none;
}

.sendButton {
    background: #155b65;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-family: Calibri;
    cursor: pointer;
    border-radius: 8px;
    -webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.sendButton:hover {
    background: #43a047;
}

@media (max-width: 765px) {
    .heading {
        font-size: 1.6rem;
    }

    .button {
        font-size: 0.9rem;
    }

    .popup {
        max-width: 100%;
    }

    .socialIcons a {
        font-size: 1.8rem;
    }
}