@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background) !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, from(#507272), to(#39acbb));
    background: linear-gradient(180deg, #507272, #39acbb); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#5c8080), to(#4de0f4));
    background: linear-gradient(180deg, #5c8080, #4de0f4);
}


::-moz-selection {
    background-color: #7a68216e; 
    color: #ffcc00;
  }


::selection {
    background-color: #7a68216e; 
    color: #ffcc00;
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  body {
    background: var(--background) !important;
    color: var(--foreground) !important;
  }
}


img {
  pointer-events: none; 
  -webkit-user-drag: none;
}