.header {
  position: fixed;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  padding: 5px 10px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #bababa2e;
}

.logoImage {
  width: 40px;
  margin-left: 40px;
  margin-bottom: -14px;
  height: auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.logoContainer {
  height: 36px;
  margin-bottom: -6px;
  overflow: hidden;
}

.logoImage.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 20px);
      -ms-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a,
.more span {
  color: #ffcfe1;
  font-size: 1rem;
  padding: 4px 16px;
  text-decoration: none;
  border-radius: 20px;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  font-family: calibri;
}

.nav a {
  font-size: 1rem;
  text-decoration: none;
  border-radius: 50px;
  position: relative;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.nav a.active {
  background: rgb(255 255 255 / 9%);
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.nav a.active::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 10px 10px 0 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.nav a:hover,
.more:hover span {
  background: rgba(255, 255, 255, 0.2);
}

.active {
  background: #262626;
  border-radius: 8px;
}

.more {
  position: relative;
}

.dropdownContainer {
  position: absolute;
  top: 4rem;
  left: -20rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgb(5 25 27);
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #80808066;
}

.cardsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.card {
  position: relative;
  margin: 0px !important;
  padding: 0 !important;
  border-radius: 5px !important;
  width: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out !important;
  transition: -webkit-transform 0.3s ease-in-out !important;
  -o-transition: transform 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out !important;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out !important;
}

.card:hover {
  background: none !important;
}

.cardOverlay {
  position: relative;
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.card:hover .cardImage {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
  -webkit-filter: brightness(80%); 
          filter: brightness(80%); 
}

.cardContent {
  position: absolute;
  padding: 15px;
}

.cardContent h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cardContent p {
  font-size: 12px;
  margin: 0;
}

.linksSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.linkItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0 !important;
  gap: 10px;
  text-decoration: none;
  -webkit-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.linkItem:hover {
  background: none !important;
}

.icon {
  font-size: 2rem;
  color: #7fe4f1;
  background: #303030c2;
  padding: 8px;
  border-radius: 5px;
}

.linkItem h4 {
  font-size: 14px;
  font-weight: bold;
  color: #7fe4f1;
  margin: 0;
}

.linkItem p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.mobileMoreList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobileMoreList a {
  text-decoration: none;
  padding: 5px 0;
  color: white;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.mobileMoreList a:hover {
  color: #ffcc00;
}

.menuIcon {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.mobileNav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 60px;
  width: 90%;
  background: #0a0a0a;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #80808052;
}

.mobileNav a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 0.8rem;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.mobileNav a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.mobileNav.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .header {
    width: 90%;
  }

  .nav {
    display: none;
  }

  .menuIcon {
    display: block;
  }

  .logoContainer {
    height: 33px;
    margin-bottom: -5px;
  }
}