.hero {
  font-size: 12rem;
  letter-spacing: 4rem;
  text-align: center;
  font-family: Calibri, sans-serif;
  line-height: 1.05;
  padding-top: 0;
  margin: -30px 0;
  z-index: 0;
  position: relative;
  display: inline-block;
  color: #2998a9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.heroContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.heroIntro {
    font-size: 2rem;
    letter-spacing: normal;
    text-align: left;
    font-family: Calibri;
    line-height: 1.2;
    position: relative;
    z-index: 1;
}

.heroIntro span{
    font-size: 1.5rem;
}

.firstSection{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.45;
    width: 100%;
    max-height: 100vh;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgb(0 0 0 / 100%)), to(rgb(0 0 0 / 0%)));
    -webkit-mask-image: linear-gradient(to bottom, rgb(0 0 0 / 100%) 80%, rgb(0 0 0 / 0%) 100%);
            mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgb(0 0 0 / 100%)), to(rgb(0 0 0 / 0%)));
            mask-image: linear-gradient(to bottom, rgb(0 0 0 / 100%) 80%, rgb(0 0 0 / 0%) 100%);
}

.mainContent {
    margin-top: 100px;
  }

.portfolioText{
    position: absolute;
    bottom: 40%;
    left: 25%;
    line-height: 1;
    text-align: right;
    font-family: monospace;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.fullstackText{
    position: absolute;
    bottom: 20%;
    right: 18%;
    line-height: 1;
    text-align: right;
    font-family: monospace;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.largeText {
  font-size: 3.2rem !important;
}

.mediumText {
  font-size: 1rem !important;
}

.smallText {
  font-size: 1.5rem !important;
}

.characterContainer {
  position: relative;
  width: 80%;
  height: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-grid-column-align: anchor-center;
      justify-self: anchor-center;
}

.whiteEye {
  position: absolute;
  width: 100%;
  height: auto;

  pointer-events: none;
}

.eyes {
  position: absolute;
  width: 100%;
  height: auto;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);
  z-index: 3; 
  pointer-events: none;
}

.character {
  position: relative;
  z-index: 4; 
  width: 100%;
  height: auto;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgb(0 0 0 / 100%)), to(rgb(0 0 0 / 0%)));
  -webkit-mask-image: linear-gradient(to bottom, rgb(0 0 0 / 100%) 80%, rgb(0 0 0 / 0%) 100%);
          mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, rgb(0 0 0 / 100%)), to(rgb(0 0 0 / 0%)));
          mask-image: linear-gradient(to bottom, rgb(0 0 0 / 100%) 80%, rgb(0 0 0 / 0%) 100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes float {
  0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-5px); transform: translateY(-5px); } 
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes float {
  0% { -webkit-transform: translateY(0); transform: translateY(0); }
  50% { -webkit-transform: translateY(-5px); transform: translateY(-5px); } 
  100% { -webkit-transform: translateY(0); transform: translateY(0); }
}


@keyframes float {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }

    50% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px); 
    }

    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

  @-webkit-keyframes jelly {
    0% { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
    25% { -webkit-transform: scale(1.2, 0.8); transform: scale(1.2, 0.8); }
    50% { -webkit-transform: scale(0.8, 1.2); transform: scale(0.8, 1.2); }
    75% { -webkit-transform: scale(1.1, 0.9); transform: scale(1.1, 0.9); }
    100% { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
  }

  @keyframes jelly {
    0% { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
    25% { -webkit-transform: scale(1.2, 0.8); transform: scale(1.2, 0.8); }
    50% { -webkit-transform: scale(0.8, 1.2); transform: scale(0.8, 1.2); }
    75% { -webkit-transform: scale(1.1, 0.9); transform: scale(1.1, 0.9); }
    100% { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
  }
  
  .jellyText:hover {
    -webkit-animation: jelly 0.6s ease-in-out;
            animation: jelly 0.6s ease-in-out;
    display: inline-block; 
  }
  


  @media (max-width: 765px) {
    .hero{
        font-size: 4rem;
        letter-spacing: 1rem;
        padding: 1.5rem 0 0;
    }

    .heroIntro {
        font-size: 1.3rem;
        line-height: 1.2;
    }
    
    .heroIntro span{
        font-size: 1rem;
    }

    .portfolioText{
        position: relative;
        bottom: 45%;
        left: 0;
        margin-left: 20px;
        text-align: justify;
        margin-top: -60px;
    }

    .fullstackText{
        position: relative;
        font-size: 2rem;
        bottom: 22%;
        right: 5%;
        padding: 30px 0;
    }

    .largeText {
      font-size: 2rem !important;
    }
    
    .mediumText {
      font-size: 1rem !important;
    }
  
    .smallText {
      font-size: 1.5rem !important;
    }
  }