.aboutContainer {
  margin: 10rem 1rem 5rem;
  width: 90%;
  -webkit-animation: fadeIn 0.8s ease-in-out;
          animation: fadeIn 0.8s ease-in-out;
  max-width: 50%;
}

.ExperienceContainer{
  margin: 10rem auto;
  width: 80%;
  text-align: center;
  -webkit-animation: fadeIn 0.8s ease-in-out;
          animation: fadeIn 0.8s ease-in-out;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
  to { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; -webkit-transform: translateY(20px); transform: translateY(20px); }
  to { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}

.heading {
  font-size: 1rem;
  color: #c6c6c6;
  padding-bottom: 1rem;
}

.mainheading {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  font-family: Calibri;
  line-height: 0.8;
}

.mainheading span {
  background: -o-linear-gradient(22deg, #0056ff, #ff008a, #00d5ff);
  background: linear-gradient(68deg, #0056ff, #ff008a, #00d5ff);
  background-size: 300% 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradientMove 10s ease infinite;
          animation: gradientMove 10s ease infinite;
  font-style: italic;
}

@-webkit-keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bio {
  font-size: 1rem;
  color: #f2f2f2cc;
  margin-bottom: 1.5rem;
  padding: 0 10px;
  margin-top: 2rem;

}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.pageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}


.SectionHeading{
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-left: 2px;
  z-index: 1;
  margin-top: -65px;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Calibri;
  background: -o-linear-gradient(22deg, #0056ff, #ff008a, #00d5ff);
  background: linear-gradient(68deg, #0056ff, #ff008a, #00d5ff);
  background-size: 300% 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradientMove 10s ease infinite;
          animation: gradientMove 10s ease infinite;
}

.SectionHeading span{
  border-radius: 50px;
  height: 1px;
  width: 1px;
  background-color: #00f1ff;
  border: 5px solid #2a8c92;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}

.section{
  position: relative;
  margin: 10rem 0;
}


.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
;
  gap: 50px;
  position: relative;
  margin-top: 20px;
  width: 80%;
}

.timelineContainer {
  position: absolute;
  height: -webkit-fill-available;
  padding: 13px;
  top: -50px;
}

.timeline {
  width: 4px;
  background: rgb(21 21 21);
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.timelineProgress {
  width: 100%;
  background: -o-linear-gradient(143deg, #0056ff, #ff008a, #00f1ff);
  background: linear-gradient(307deg, #0056ff, #ff008a, #00f1ff);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: height 0.3s ease-out;
  -o-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  border-radius: 2px;
}


.content {
  padding: 20px;
  min-width: 80%;
  margin: auto;
}

.mainheading span {
  color: #facc15;
}

.experienceItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experienceItem {
  margin-bottom: 50px;
  position: relative;
  z-index: 0;
}

.bulletPoint {
  width: 1px;
  height: 1px;
  background: #d30e9d;
  border-radius: 50%;
  border: 10px solid #0a0a0a;
  z-index: 0;
  padding: 6px;
  position: sticky;
top: 50%;
  margin-bottom: 40px;
}

.experienceItemSticky{
  min-width: 400px;
  height: -webkit-fill-available;
  z-index: 0;
  position: sticky;
  top: 25vh;
}

.date {
  font-size: 0.8rem;
  color: #aaa;
}

.title {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.company {
  font-size: 18px;
  color: #facc15;
}

.location {
  font-size: 14px;
  color: #aaa;
}

.description {
  font-size: 16px;
  color: #ddd;
}

.skills {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills span {
  background: rgb(255 255 255 / 13%);
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #d4d4d4;
  margin: 2px;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.images img {
  width: 50%;
  height: auto;
  border-radius: 6px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.images img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.downloadButton {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.button {
  padding: 10px 20px;
  background-color: #052c32;
  color: #f3c614;
  font-weight: bold;
  border: 1px solid #27a4b7;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease, border 0.3s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.3s ease, border 0.3s ease, -webkit-transform 0.2s ease;
  -o-transition: background-color 0.3s ease, transform 0.2s ease, border 0.3s ease;
  transition: background-color 0.3s ease, transform 0.2s ease, border 0.3s ease;
  transition: background-color 0.3s ease, transform 0.2s ease, border 0.3s ease, -webkit-transform 0.2s ease;
  background-clip: padding-box;
  display: inline-block;
  position: absolute;
  top: -8rem;
}

.button.active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.responsibilities {
  list-style-type: disc;
  margin-left: 20px;
  line-height: 1.6;
  margin-top: 10px;
}

.responsibilities li {

}


@media (max-width: 765px) {
  .mainheading {
      font-size: 2rem;
      line-height: 1;
      padding-bottom: 0;
  }

  .title {
      font-size: 1rem;
    }

  .aboutContainer{
      max-width: none;
      padding: 0;
      margin: 10rem auto 5rem;
  }

  .bio {
      font-size: 0.95rem;
      padding: 0 5px;
  }

  .details {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 1rem;
  }

  .heading {
      font-size: 0.9rem;
  }
  .SectionHeading{
      padding-left: 2px;
  }
  .experienceItemContainer {
      display: block;
    }

    .experienceItemSticky{
      position: static;
      width: 100%;
      padding-bottom: 1rem;
      min-width: auto;
    }
    .container{
      gap: 1rem;
      width: 100%;
    }
}
